@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Tarefas.Models.TarefaItem>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["title"]</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a asp-action="Create">Criar Novo Contato</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.DataConclusao)</th>
                <th>@Html.DisplayNameFor(model => model.EstaCompleta)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach(var item in Model){
            <tr>
                <th>@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.DataConclusao)</td>
                <td>@Html.DisplayFor(modelItem => item.EstaCompleta)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
